* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgb(253, 253, 253), rgba(231, 132, 3, 0.89));
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background-image: url(https://t3.ftcdn.net/jpg/04/52/07/54/360_F_452075464_qcFXNOsDafAtnezS5iAfPPxrusr3spwO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
}

.container {
  width: 370px;
  height: 200px;
}

.buttons {
  padding: 20px;
}

span {
  font-size: 54px;
  background-color: white;
}

.wrong-answer {
  color: red;
  font-weight: 800;
  animation-name: xablau;
  animation-duration: 4s;
  transition-timing-function: ease-in-out
}

@keyframes xablau {
  0%{margin-right: 150vw}
  100%{margin-right: -150vw }
}

.right-answer {
  color: green;
  font-weight: 800;
  animation-name: xablete;
  animation-duration: 4s;
}

@keyframes xablete {
  0%{position: absolute; bottom: -10vh}
  100%{position: absolute; bottom: 72vh }
}

.buttons-container {
  display: flex;
  margin-top: 20px;
}

button {
  padding: 12px;
  width: 160px;
  background-color: rgb(231, 231, 39);
}